<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" type="text/css" href="/css/s.css">
  <title>Pastie</title>
</head>
<body>
 <dl id="content">
  <form id="pastie" method="post" action="/edit/<%= @paste.id %>">
  <div style="float:right;">
   <label style="font-size:0.7em; color:#999">Language:</label>
   <select id="paste_parser_id" name="version[highlight]">
    <option value="as">ActionScript</option>
    <option value="csharp">C#</option>
    <option value="c">C/C++</option>
    <option value="css">CSS</option>
    <option value="diff">Diff</option>
    <option value="html+erb">HTML (ERB / Rails)</option>
    <option value="html">HTML / XML</option>
    <option value="java">Java</option>
    <option value="js">Javascript</option>
    <option value="objc">Objective C/C++</option>
    <option value="pascal">Pascal</option>
    <option value="pl">Perl</option>
    <option value="php">PHP</option>
    <option value="text">Plain text</option>
    <option value="py">Python</option>
    <option value="ruby">Ruby</option>
    <option value="ruby" selected="selected">Ruby (on Rails)</option>
    <option value="sh">Shell Script (Bash)</option>
    <option value="sql">SQL</option>
    <option value="yaml">YAML</option>
   </select>
  </div>

   <p>
    <label for="paste">Edit your crap below:</label><br>
    <textarea id="paste" name="version[text]" rows="22" cols="40" tabindex="20"><%= @version.text %></textarea>
   </p>
   <p>
    <input type="hidden" name="version[created_at]" value="<%=h Time.now.xmlschema %>">
    <input type="submit" value="Paste">
   </p>
  </form>
 </dl>
</body>
</html>
