html {
  padding: 20px;
  font: medium/1.4 sans-serif;
}
.languages {
  text-align: right;
}
textarea, input[type='text'] {
  width: 100%;
}
._placeholder {
  color: #aaa;
}
.highlight {
  background: #fff;
  border: 1px solid #aaa;
  padding: 0.2em 1em;
  margin: 0 0 0.5em;
}
.paste {
  background: #eee;
  border: 1px solid #aaa;
  padding: 1em;
  margin: 0 0 1em;
}
.paste p {
  margin: 0;
}
